<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233218090893-lko509cua136nlvr3d261ite9ors79kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233218090893-lko509cua136nlvr3d261ite9ors79kj</string>
	<key>API_KEY</key>
	<string>AIzaSyAxhPnlsBCYsGhsiI9dlM_JbJ_MmncSvz0</string>
	<key>GCM_SENDER_ID</key>
	<string>233218090893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Uth.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-b8f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-b8f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233218090893:ios:1527e5959a7a5c4ae8ffc4</string>
</dict>
</plist>